<launch>
	<node name="map_server" pkg="map_server" type="map_server" args="$(find slamware_ros_sdk)/map/mymap.yaml" output="screen">
   	<param name="frame_id" value="map" />
     </node>
      <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <rosparam command="load" file="$(find slamware_ros_sdk)/cfg/diff_drive/cfg.yaml"/>
       </node>

	<include file="$(find fdilink_ahrs)/launch/ahrs_data.launch" />
	<include file="$(find slamware_ros_sdk)/launch/slamware_ros_sdk_server_node.launch" >
        <arg name="move_base_goal_topic" value="disable"/>
        <arg name="ip_address" value="192.168.11.1" />
    </include>
	<include file="$(find scan_to_map)/launch/scan_to_map_location.launch"/>
       <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find slamware_ros_sdk)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find slamware_ros_sdk)/cfg/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find slamware_ros_sdk)/cfg/diff_drive/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find slamware_ros_sdk)/cfg/diff_drive/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find slamware_ros_sdk)/cfg/diff_drive/teb_local_planner_params.yaml" command="load" ns="TebLocalPlannerROS"/>

        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="planner_frequency" value="3.0" />
        <param name="planner_patience" value="5.0" />
       <!--  <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />-->
        <param name="controller_frequency" value="100.0" />
        <param name="controller_patience" value="1.0" />
            <param name="use_dijkstra" value="false" />
        <remap from="/cmd_vel" to="/" />
</node>
      <include file="$(find auto_nav)/launch/pid_follow_planner.launch"/>
  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find auto_nav)/config/rviz/auto_navi_demo.rviz"/>
</launch>
